---
import "../styles/main.css";
import Analytics from "@vercel/analytics/astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Othon's personal website." />
    <meta name="author" content="Othon" />
    <meta
      name="keywords"
      content="personal, website, blog, othon, othonrm, frontend, engineer, software engineer, JS, react, astro"
    />
    <meta name="theme-color" content="#f9f9f9" />
    <meta name="robots" content="index, follow" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@othonrm" />
    <meta name="twitter:creator" content="@othonrm" />
    <meta property="og:title" content="Othon - About Me" />
    <meta property="og:description" content="Othon's personal website." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://othonrm.com" />
    <meta property="og:image" content="https://othonrm.com/portrait.webp" />
    <meta property="og:site_name" content="Othon" />
    <title>Othon - About Me</title>
  </head>
  <body>
    <main>
      <img
        class="portrait"
        src="/portrait.webp"
        alt="Othon's Portrait at Agulhas Negras Peak, Brazil's 5th highest summit."
      />
      <div class="column">
        <h1 class="title">Hello, I'm Othon</h1>
        <small class="role">&#123; Software Engineer @ <a href="https://www.arryved.com/">Arryved</a> &#125;</small>
        <p class="greeting">
          This is the very beginning of my personal website.
          <br />
          🚧 I'm still working on it, so please be patient.
        </p>
      </div>
    </main>
    <footer>
      <p>
        <a href="https://github.com/othonrm">@othonrm</a> —
        <span>March, 2025.</span>
      </p>
    </footer>
    <Analytics />
  </body>
</html>
